/* Estilo padrão do site */
*{
    margin: 0;
    padding: 0;
}
/* Fundo da Tela */
body,html{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* Parte de cima do site */
.logo{
  width: 42px;
  height: 42px;
  border-radius: 100px;
  background-color: rgb(83, 45, 253);  
  margin: 10px;
}
/* Cabeçario do site, parte que fica em cima respectivamente sendo index, login, parceiros e quem-somos*/
header{
    height: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
/* Configuração da lista do cabeçario*/
ul{
    display: flex;
}
li{
    color: rgb(0, 0, 0);
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
    margin: 23px;
}
li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
/* Background e texto do formulario*/
/* formulario do login.html*/
.principal-login{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(240, 239, 239);
    border-radius: 2%;
    width: 400px;
    min-height: 100px;
    height: 200px;
    margin-top: 5%;
    margin-left: 35%;
    padding: 10px;
    display: flex;
    text-align: left;
}
/* formulario do cadastro.html */
.principal-cadastro{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(240, 239, 239);
    border-radius: 2%;
    width: 400px;
    min-height: 100px;
    height: 300px;
    margin-top: 5%;
    margin-left: 35%;
    padding: 10px;
    display: flex;
    text-align: left;
}
