/* Estilo padrão do site */
*{
    margin: 0;
    padding: 0;
}
/* Fundo da Tela */
body,html{
    background-color: rgb(22, 22, 22);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* Parte de cima do site */
.logo{
  width: 42px;
  height: 42px;
  border-radius: 100px;
  background-color: rgb(83, 45, 253);  
  margin: 10px;
}

header{
    height: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    box-shadow: 0 0 1rem black;
}
ul{
    display: flex;
}
li{
    color: white;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
    margin: 23px;
}
li a{
    color: white;
    text-decoration: none;
}

.principal-login{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    width: 400px;
    min-height: 100px;
    height: 200px;
    margin-top: 5%;
    margin-left: 35%;
    padding: 10px;
    display: flex;
    text-align: left;
}
